.movie-view-container {
  padding: 0; // Remove any container padding
}

.movie-view-row {
  margin: 0; // Remove any row margins
}

.movie-info {
  padding: 0; // Remove padding from the info column
}

.movie-poster {
  padding: 0; // Remove padding from the poster column
  display: flex;
  justify-content: center; // Center the image horizontally
  align-items: center; // Center the image vertically
}

.movie-poster img {
  width: 100%; // Make the image width 100% of the column
  height: auto; // Maintain aspect ratio
  max-width: 100%; // Ensure the image does not exceed the column width
}
