.movie-view-container {
  padding:30px 0px ;
}

.movie-view-row {
  display: flex;
  align-items: flex-start;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}
