$primary: #F5F5F5;
$body-bg: #FFFAFA;

@import '~bootstrap/scss/bootstrap.scss';

$color: #000;

.my-flix {
  color: $color;
}

img {
	width: 100%;  // Set the width of the image
};

$color_1: var(--dark-font-color);
$color_2: var(--tertiary-color);
$color_3: white;
$color_4: var(--lightest-font-color);
$font-family_1: 'Lato', serif;
$font-family_2: inherit;
$background-color_1: var(--primary-color);
$background-color_2: var(--secondary-color);
$background-color_3: var(--tertiary-color);

:root {
	--primary-color: #FFFAFA;
	--secondary-color: #008000;
	--tertiary-color: #F5F5F5;
	--lightest-font-color: white;
	--focus-red-color: #CD5C5C;
	--dark-font-color: black;
	--modal-color: #92c892;
	--bodyfontsize: 25px;
	--padding-margin-px: 10px;
	--padding-margin-px-lg: 10px;
	--font-weight-700px: 700px;
	--max-width-700px: 700px;
}

a {
	color: $color_1;
	transition: transform 0.2s ease;
	&:hover {
		text-decoration: none;
		transform: scale(1.05);
	}
	&:focus {
		text-decoration: none;
		transform: scale(1.05);
	}
	&:active {
		color: $color_2;
	}
}

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-weight: 500px;
	font-size: var(--bodyfontsize);
	line-height: 1.5;
	text-align: left;
	color: $color_1;
	margin-right: 0px;
	margin-bottom: 20px;
}

.navbar-logo {
	margin-right: 8px;
	text-align: "d-inline-block align-top"
}

.navbar {
	margin-bottom: 20px;
	border-radius: 10px;
}

.img__favicon {
	position: fixed;
}
h1 {
	font-size: 46px;
	font-weight: var(--font-weight-700px);
	line-height: 1;
	font-style: bold;
	color: $color_1;
	display: inline;
	padding: 20px;
}
h2 {
	font-size: 28px;
	font-weight: var(--font-weight-700px);
	line-height: 1.5;
	font-style: bold;
}
h3 {
	font-size: 24px;
	font-weight: var(--font-weight-700px);
	line-height: 1;
	font-style: bold;
}
h4 {
	font-size: 20px;
	line-height: 1;
}
p {
	color: $color_1;
	font-size: var(--bodyfontsize);
	line-height: 1.5;
	font-style: normal;
}
button {
	border: none;
	font-family: $font-family_2;
	background-color: gray;
	color: white;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
	transition: transform 0.2s ease;
	margin: 10px;
	width: 100px;
	table-layout: fixed;
	font-size: 20px;
	padding: 6px;
	border-width: 6px;
	&:hover {
		cursor: pointer;
		color: $color_1;
		transform: scale(1.05);
	}
	&:focus {
		cursor: pointer;
		color: $color_1;
		transform: scale(1.05);
		border: 2px solid var(--focus-red-color);
	}
	&:active {
		background-color: $background-color_1;
	}
}

.btn-green {
  background-color: #008000; /* Bootstrap's green color */
  border-color: #008000; /* Match the border color */
  color: white; /* Text color */
}

.btn-green:hover {
  background-color: #218838; /* Darker shade for hover effect */
  border-color: #1e7e34; /* Darker border color */
	color: white;
}

.btn-back {
  background-color: gray; /* Bootstrap's green color */
  border-color: gray; /* Match the border color */
  color: white; /* Text color */
}

.logout-button {
  padding: 5px;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 4px;
	margin: 5px 5px;
}

.submit-button {
  padding: 10px 10px 10px 10px;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 4px;
	margin: 5px;
}

html {
	padding: var(--padding-margin-px);
	margin: var(--padding-margin-px);
	border-radius: 25px;
	color: $color_1;
}
* {
	box-sizing: border-box;
}

// @media (max-width: 768px) {
// 	.page-header {
// 		flex-direction: column;
// 		align-items: center;
// 	}
// 	.page-header__item {
// 		flex: 0 0 auto;
// 		width: auto;
// 		margin-top: var(--padding-margin-px);
// 	}
// 	.navigation-list {
// 		text-align: center;
// 		li {
// 			display: block;
// 			margin-left: 0;
// 			margin-bottom: var(--padding-margin-px);
// 		}
// 	}
// 	.navigation-list__item--active {
// 		display: block;
// 	}
// 	.navigation-list__item {
// 		display: block;
// 	}
// }

// .button {
// 	border: none;
// 	display: inline-block;
// 	font-family: $font-family_2;
// 	background-color: $background-color_2;
// 	color: $color_3;
// 	text-decoration: none;
// 	padding: var(--padding-margin-px);
// 	border-radius: 15px;
// 	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
// 	transition: color .7s transform 0.2s ease;
// 	margin: 12px;
// 	width: 100%;
// 	table-layout: fixed;
// 	font-size: 20px;
// 	padding: 1rem .75rem;
// 	border-width: 6px;
// 	&:hover {
// 		cursor: pointer;
// 		background-color: $background-color_3;
// 		color: $color_1;
// 		transform: scale(1.05);
// 	}
// 	&:focus {
// 		cursor: pointer;
// 		background-color: $background-color_3;
// 		color: $color_1;
// 		transform: scale(1.05);
// 	}
// }
// .button__secondary {
// 	border: none;
// 	display: inline-block;
// 	font-family: $font-family_2;
// 	background-color: $background-color_2;
// 	color: $color_3;
// 	text-decoration: none;
// 	padding: var(--padding-margin-px);
// 	border-radius: 15px;
// 	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
// 	transition: color .7s transform 0.2s ease;
// 	margin: 12px;
// 	width: 100%;
// 	table-layout: fixed;
// 	font-size: 20px;
// 	padding: 1rem .75rem;
// 	border-width: 6px;
// 	background-color: $background-color_2;
// 	font-family: $font-family_2;
// 	padding: var(--padding-margin-px);
// 	border-radius: 10px;
// 	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
// 	transition: color .7s transform 0.2s ease;
// 	margin: 10px;
// 	width: 100%;
// 	table-layout: fixed;
// 	font-size: 20px;
// 	&:hover {
// 		cursor: pointer;
// 		background-color: $background-color_3;
// 		color: $color_1;
// 		transform: scale(1.05);
// 		cursor: pointer;
// 		background-color: $background-color_2;
// 		color: $color_4;
// 	}
// 	&:focus {
// 		cursor: pointer;
// 		background-color: $background-color_3;
// 		color: $color_1;
// 		transform: scale(1.05);
// 		cursor: pointer;
// 		background-color: $background-color_2;
// 		color: $color_4;
// 	}
// }
// button__secondary {
// 	&:hover {
// 		cursor: pointer;
// 		background-color: $background-color_3;
// 		color: $color_1;
// 		transform: scale(1.05);
// 	}
// 	&:focus {
// 		cursor: pointer;
// 		background-color: $background-color_3;
// 		color: $color_1;
// 		transform: scale(1.05);
// 	}
// }